# Compiled class files
*.class

# Log files
*.log

# Dependency directories
/.m2/
/.gradle/
/target/

# Build directories
/build/
/out/

# IDE directories
.idea/
/.vscode/

# macOS specific files
.DS_Store

# IntelliJ IDEA specific files
*.iml
*.iws
.idea/

# Eclipse specific files
*.project
*.classpath
.settings/

# Java specific
*.jar
*.war
*.ear

# Operating system files
Thumbs.db
ehthumbs.db